<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Post</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding-top>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-item lines="none">
          <ion-avatar slot="start">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
          <h1 class="link pointer"> Prince Kc</h1>
        </ion-item>
      </ion-card-title>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
    </ion-card-header>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
          </ion-card-content>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col>
        <ion-list>
          <ion-item lines="none">
            <ion-avatar slot="start" id="commentDp">
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
            <ion-label class="link pointer">
              Mohammed Sahal
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-card-content>
              Where are you
            </ion-card-content>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row align-items-baseline justify-content-end>
      <ion-col size="2"></ion-col>
      <ion-col size="12" size-sm="8" padding-left>
        <ion-item>
          <ion-avatar slot="start" id="commentDp">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
          <ion-label position="floating">Comment...</ion-label>
          <ion-textarea></ion-textarea>
        </ion-item>
      </ion-col>
      <ion-col size="5" size-sm="2">
        <ion-button color="danger">
          Comment
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>