<app-navbar></app-navbar>

<ion-content padding>

  <ion-card (click)="getPosts()" margin-top margin-bottom>
    <ion-card-header>
      <ion-card-subtitle>20/10/1999</ion-card-subtitle>
      <ion-card-title>
        <ion-item style="--border-style:none;">

          <ion-avatar slot="start">

            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
          <h1>Anzal Khan</h1>
        </ion-item>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Issue Description
    </ion-card-content>
    <ion-row class="bg-danger">
      <ion-col size="12">
      </ion-col>
    </ion-row>
  </ion-card>







</ion-content>