<ion-header>
  <ion-toolbar color="{{color}}">
    <ion-title>{{alert}} Alert</ion-title>
    <ion-buttons slot="end">
        <ion-button (click)="closeModal()">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label position="floating">Description</ion-label>
    <ion-textarea [(ngModel)]="postDto.description"></ion-textarea>
  </ion-item>
  <ion-item padding>
    <ion-label>Location</ion-label>
    <agm-map [zoom]="zoom" [latitude]="lat" [longitude]="lng">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
  </ion-item>
  <h1 text-center>Live Alert</h1>
  <ion-row justify-content-center margin-top padding-top>
    <ion-buttons>
      <ion-button title="Live Video" (click)="takePhoto()">
        <ion-icon name="camera" class="live-icon"></ion-icon>
      </ion-button>
      <ion-button title="Live Audio">
        <ion-icon name="microphone" class="live-icon"></ion-icon>
      </ion-button>
      <ion-button title="Live Location">
        <ion-icon name="locate" class="live-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-row>
  <ion-row justify-content-center margin-top padding-top>
   <ion-button color="{{color}}" (click)="clickAlert()">Alert</ion-button>
  </ion-row>
</ion-content>
