<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid margin-top>
    <ion-row justify-content-center>
      <ion-col size="6" text-center>
        <div class="circle">
          <ion-icon class="large-icon" name="person"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col text-center>
        <ion-item class="item-inner">
          <ion-label color="medium" position="floating">Username</ion-label>
          <ion-input [(ngModel)]="username" background="light"></ion-input>
        </ion-item>
        <ion-item class="item-inner">
          <ion-label color="medium" position="floating">First Name </ion-label>
          <ion-input [(ngModel)]="firstName" background="light"></ion-input>
        </ion-item>
        <ion-item class="item-inner">
          <ion-label color="medium" position="floating">Email</ion-label>
          <ion-input [(ngModel)]="email" background="light"></ion-input>
        </ion-item>
        <ion-item class="item-inner">
          <ion-label color="medium" position="floating">Password</ion-label>
          <ion-input [(ngModel)]="password" type="password"></ion-input>
        </ion-item>
        <ion-button (click)="signup()"  expand="block" margin-top margin-bottom>Register</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
