<app-navbar></app-navbar>

<ion-content padding>

  <ion-slides [options]="slideConfig" *ngFor="let number of numbers">
    <ion-slide *ngFor="let number of numbers">

      <ion-card>
        <ion-grid>
          <ion-row>
              <ion-col>
                <ion-item lines="none" color="vibrant">
                <img src="assets/img/toney.jpg" slot="start" class="reviewProfile"/>
                            
                <ion-card-subtitle slot="start"><strong>manu kg</strong>
                </ion-card-subtitle> 
                </ion-item>
              </ion-col>

            </ion-row>
          <ion-row>
              <ion-item lines="none"> 
                  <ion-card-subtitle class="commentText">
                      the food is awsome you need to try once 
                  </ion-card-subtitle>
              </ion-item>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button color="medium" expand="block">
                <ion-icon name="thumbs-up"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button color="medium" expand="block">
                <ion-icon name="thumbs-down"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button color="medium" expand="block">
                <ion-icon name="chatboxes"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button color="medium" expand="block">
                <ion-icon name="locate"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>