<app-navbar></app-navbar>

<ion-content padding>

  <ion-slides [options]="slideConfig" *ngFor="let number of numbers">
    <ion-slide *ngFor="let number of numbers">

      <ion-card class="cardBackground">
        <ion-grid>
          <ion-row>
              <ion-col>
                <ion-item lines="none" color="vibrant">
                    <ion-avatar slot="start">
                        <img src="assets/img/toney.jpg" >
                      </ion-avatar>
                <ion-card-subtitle slot="start"><strong>manu kg</strong>
                </ion-card-subtitle> 
                </ion-item>
              </ion-col>

            </ion-row>
            <div class="cardBackground">
          <ion-row>
             
                  <ion-col text-start>
                      a man try to rob my iron man suit when i go for infinity
                     
                  </ion-col>
          </ion-row>
        </div>
          <div class="cardFooter">
          <ion-row class="cardFooterButtons">
            
            <ion-col>
             
                <ion-icon name="thumbs-up"></ion-icon>
            
            </ion-col>
            <ion-col>
                <ion-icon name="thumbs-down"></ion-icon>
            </ion-col>
            <ion-col>
                <ion-icon name="chatboxes"></ion-icon>
            </ion-col>
            <ion-col>
                <ion-icon name="locate"></ion-icon>
            </ion-col>
          </ion-row>
        </div>
        </ion-grid>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>