<app-navbar></app-navbar>

<ion-content>

      <!-- Default Item -->
      <button href="/login">
      <ion-icon name="search"></ion-icon>
    </button>
  <!-- Segment buttons with text and click listeners -->
<ion-segment  scrollable  value="friends" (ionChange)="segmentChanged($event)" >
    <ion-segment-button value="friends">
      <ion-label >Friends</ion-label>
    </ion-segment-button>
    <ion-segment-button value="requests">
      <ion-label >requests</ion-label>
    </ion-segment-button>
  </ion-segment>
  
  <div *ngIf="currentSegmentName== 'friends'">
    <ion-list *ngFor="let friend of friends" >
          <ion-item lines="full" >
            <ion-avatar slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
              </ion-avatar>
            <ion-text slot="start">
              <p>{{friend.name}} </p>
            </ion-text>
            <ion-button  slot="end" (click)=unfriendRequest(friend)>
              <b>
              unfriend
            </b>
            </ion-button>
          </ion-item>
           
      </ion-list>
    </div>

    <div *ngIf="currentSegmentName== 'requests'">
      <ion-list *ngFor="let request of friendRequests" >
            <ion-item lines="full" >
              <ion-avatar slot="start">
                  <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                </ion-avatar>
              <ion-text slot="start">
                <p>{{request.name}} </p>
              </ion-text>
              <ion-button  slot="end" (click)=conformRequest(request)>
                <b>
                conform
              </b>
              </ion-button>
              <ion-button  slot="end" (click)=cancelRequest(request)>
                <b>
                decline
              </b>
              </ion-button>
            </ion-item>
             
        </ion-list>
      </div>
     
</ion-content>