.reviewProfile{
    display: block;
    border-radius: 51%;
    width: 16%;
    margin: 1vw;
    height: 32%;
  }
  .shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.reviewProfile{
    display: block;
    border-radius: 51%;
    width: 16%;
    margin: 1vw;
    height: 32%;
  }
  .cardFooter{
    background: #c9c5c5;
    height: 28px;
    width: 105%;
    position: relative;
    left: -5px;
    height: 36px;
    bottom: -5PX;
  }
  .cardFooterButtons{
    position: relative;
    top: 5PX;
}
ion-icon {
    
        font-size: 22px;
  }
.cardBackground{
    background: #efeff5;
}
.positionCustom{
  position: relative;
  top: 6px;
  left: 19px;

}
.positionCustom2{
  position: relative;
  top: 68px;
  left: 5px;

}
.linkingButton{
  position: relative;
  left: 14px;
}