<ion-header>
    <ion-toolbar color="light">
      <ion-buttons slot="start">
        <ion-button (click)="dismiss()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col class="ion-text-center">
          <ion-card-title>
            Create complaint
          </ion-card-title>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-card>
            <ion-item>
              <ion-textarea placeholder="Enter more information here..." rows="5"></ion-textarea>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-card-subtitle>
            Link simular issues
          </ion-card-subtitle>
        </ion-col>
        <ion-col>
          <ion-slides [options]="slideConfig">
  
            <ion-slide *ngFor="let number of numbers">
              <ion-card>
                <ion-grid>
                  <ion-row>
                    <ion-col size="9">
                      <ion-card-header>
                        <ion-text>manu</ion-text>
                      </ion-card-header>
                    </ion-col>
                    <ion-col>
                        <ion-button class="linkButton" fill="none">
                          <ion-icon name="link"></ion-icon>
                        </ion-button>
                      </ion-col>
                  </ion-row>
                  <ion-row>
                    a man try to rob in the road near school,
                    a man try to rob in the road near school
                    a man try to rob in the road near school
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-button expand="block">
                        <ion-icon name="thumbs-up"></ion-icon>
                      </ion-button>
                    </ion-col>
                    <ion-col>
                      <ion-button expand="block">
                        <ion-icon name="thumbs-down"></ion-icon>
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card>
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button>
            <ion-icon name="mic"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button>
            <ion-icon name="pin"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button>
            <ion-icon name="folder"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button>
            <ion-icon name="images"></ion-icon>
          </ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="dismiss()">
              <ion-icon name="send"></ion-icon>
            </ion-button>
            </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>