<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-row justify-content-center>
    <ion-item>
      <ion-label position="floating">Username or email</ion-label>
      <ion-input type="text" [(ngModel)]="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <ion-button color="danger" (click)="tryLogin()">Login</ion-button>
  </ion-row> -->

  <ion-slides #slides (ionSlideDidChange)="slideChange()">
    <ion-slide>
      <ion-grid margin-top>
        <ion-row justify-content-center>
          <ion-col size="6" text-center>
            <div class="circle">
              <ion-icon class="large-icon" name="person"></ion-icon>
            </div>
          </ion-col>
        </ion-row>
        <ion-row justify-content-center>
          <ion-col text-center>
            <ion-item class="item-inner">
              <ion-label color="medium" position="floating">Username or Email</ion-label>
              <ion-input [(ngModel)]="username" background="light"></ion-input>
            </ion-item>
            <ion-item class="item-inner">
              <ion-label color="medium" position="floating">Password</ion-label>
              <ion-input [(ngModel)]="password" type="password"></ion-input>
            </ion-item>
            <ion-button [disabled]="loginDisabled()" (click)="tryLogin()" expand="block" margin-top margin-bottom>Login
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid margin-top>
        <ion-row justify-content-center>
          <ion-col size="6" text-center>
            <div class="circle">
              <ion-icon class="large-icon" name="person"></ion-icon>
            </div>
          </ion-col>
        </ion-row>
        <ion-row justify-content-center>
          <ion-col text-center>
            <ion-item class="item-inner">
              <ion-label color="medium" position="floating">Username</ion-label>
              <ion-input [(ngModel)]="username" background="light"></ion-input>
            </ion-item>
            <ion-item class="item-inner">
              <ion-label color="medium" position="floating">Email</ion-label>
              <ion-input [(ngModel)]="email" background="light"></ion-input>
            </ion-item>
            <ion-item class="item-inner">
              <ion-label color="medium" position="floating">Password</ion-label>
              <ion-input [(ngModel)]="password" type="password"></ion-input>
            </ion-item>
            <ion-button [disabled]="registerDisabled()" (click)="signup()"  expand="block" margin-top margin-bottom>Register</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>

</ion-content>