<app-navbar></app-navbar>

<ion-content padding-top>

  <ion-card (click)="getPost()" margin-top margin-bottom>
    <ion-card-header>
      <ion-card-subtitle>20/10/1999</ion-card-subtitle>
      <ion-card-title>
        Issue Description
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Status: Active
    </ion-card-content>
    <ion-row class="bg-danger">
      <ion-col size="12">
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card (click)="getPost()" margin-top margin-bottom>
    <ion-card-header>
      <ion-card-subtitle>20/10/1999</ion-card-subtitle>
      <ion-card-title>
        Issue Description
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Status: Active
    </ion-card-content>
    <ion-row class="bg-warning">
      <ion-col size="12">
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card (click)="getPost()" margin-top margin-bottom>
    <ion-card-header>
      <ion-card-subtitle>20/10/1999</ion-card-subtitle>
      <ion-card-title>
        Issue Description
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Status: Solved
    </ion-card-content>
    <ion-row class="bg-success">
      <ion-col size="12">
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>